{% extends 'index.html' %}
{% block content %}
{% load static %}
<button class="back-btn" id="back_btn" onclick="backButton()"><img src="{% static 'img/back_arrow.png' %}" alt="back"></button>
<div class="container">
    <div class="row">
        {% for s in searchdata %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-6">
            <a href="{% url 'productfun' productName=s.name %}">
                <div class="item-card">
                <img src="{{s.image.url}}" alt="food">
                <h3>{{s.name}}</h3>
                <h2>₹ {{s.price}}</h2>
            </div></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}