.butn{
    width:161px;
    height:60px;
    background:none;
    font-weight: ;
    font-size:20px;
    border-style:inset;
}

.butn:active{
    background-color:#ffde00;
    
}

body{
    margin-right:0px;
}
#allbtn{
    background:#ffde00;
}
.imgsize{
    width:19rem;
    height:19rem;
}
.my-card-font{
    font-weight: ;
}
a{
    color:black;
    text-decoration:none;
}
